name: lint-check

on:
  workflow_dispatch:
  pull_request:

jobs:
  eslint:
    name: Run lint check
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'

      - name: Install Node.js dependencies
        run: yarn install
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPMJS_READ }}

      - name: Lint check
        run: yarn lint:check
